**Step 1 - Install Package - sqlite3**

In [1]:
#!pip install pysqlite3

In [2]:
import sqlite3
import pandas as pd

**Step 2 - Create Tables**

In [4]:
# Connecting to sqlite
conn = sqlite3.connect('mydatabase')

# Drop table if exists
conn.execute("DROP TABLE IF EXISTS student")

# Create cursor
cursor = conn.cursor()
  
# Creating table
table ="""CREATE TABLE Student (name VARCHAR(255), class VARCHAR(255), section VARCHAR(255));"""
cursor.execute(table)
  
# Queries to INSERT records.
cursor.execute('''INSERT INTO Student VALUES ('Tommy', '4th', 'A')''')
cursor.execute('''INSERT INTO Student VALUES ('Jenny', '5th', 'B')''')
cursor.execute('''INSERT INTO Student VALUES ('Ada', '6th', 'C')''')
  
# Display data inserted
data=cursor.execute('''SELECT * FROM Student''')
for row in data:
    print(row)
    
# Commit your changes in the database    
conn.commit()
  
# Closing the connection
conn.close()

('Tommy', '4th', 'A')
('Jenny', '5th', 'B')
('Ada', '6th', 'C')

**Step 3 - Export to Pandans Dataframe**

In [5]:
# Convert to Pandas
conn = sqlite3.connect('mydatabase') 
c = conn.cursor()
                 
c.execute(''' SELECT *FROM STUDENT''')

df = pd.DataFrame(c.fetchall(), columns = ['NAME', 'CLASS', 'SECTION'])
df

    NAME CLASS SECTION
0  Tommy   4th       A
1  Jenny   5th       B
2    Ada   6th       C